/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

#map{
  height: 100%;
  min-height:  300px;
}

.elementor .map-popup a {
  text-decoration: underline;
}
